<div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" ng-click="appController.displayHome()" ng-app="myApp" ng-controller="envVariablesCtrl">

        <div class="row">
            <!--<div class="col-sm-6">-->
                <!--<img src="{{company_logo}}"  class="img-responsive logo_company" alt="Company Logo">-->
            <!--</div>-->
            <div class="col-sm-6">
                <p id="company_name">{{company_name}}</p>
            </div>
        </div>
    </a>
</div>

<ul class="nav navbar-top-links navbar-right text-center responsive">
    <li uib-dropdown>
        <a uib-dropdown-toggle href="#" aria-expanded="true" ng-controller="username">
            <i class="fa fa-user fa-lg"></i>&nbsp; {{ username }}&nbsp;<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" role="menu">
            <li><a href="#/personal" onClick="window.location.reload()"><i class="fa fa-user fa-fw"></i> Personal Details</a></li>
            <li><a href="#/change-password"><i class="fa fa-cog fa-fw"></i> Change Password</a></li>
            <li><a href="#" onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-top-links navbar-right text-center">
    <li uib-dropdown ng-controller="languageCtrl">
        <a id="single-button" href="#" aria-expanded="true" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-globe fa-lg"></i>&nbsp; Language {{button}}&nbsp;<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="single-button">
            <li role="menuitem">
                <a ng-click="serve_language('en');change('English')"><i class="fa fa-sign-out fa-fw"></i> English</a>
                <a ng-click="serve_language('fr');change('French')"><i class="fa fa-sign-out fa-fw"></i> French</a>
                <a ng-click="serve_language('sp');change('Spanish')"><i class="fa fa-sign-out fa-fw"></i> Spanish</a>
				<a ng-click="serve_language('sq');change('Albanian')"><i class="fa fa-sign-out fa-fw"></i> Albanian</a>
            </li>

        </ul>
    </li>
</ul>



