<div class="row">
    <div class="col-lg-12">
        <uib-alert type="info" close="dismissAlert()" ng-show="!has_seen_alert">
            <span ng-app="myApp" ng-controller="envVariablesCtrl">Welcome to {{company_name}}</span>
        </uib-alert>
    </div>
</div>

<div class="row">
    <!--My Sales This Month-->
    <div class="col-lg-3">
        <div class="panel panel-default theme">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.this_month }}</div>
                        <div>My Sales This Month</div>
                    </div>
                </div>
            </div>
            <!-- code below, maybe used later -->
            <!--<a ui-sref="list({entity:'LoginData'})">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">View Details</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        </div>
    </div>
    <!--My Sales This Month-->

    <!--My Sales Last Month-->
    <div class="col-lg-3">
        <div class="panel panel-default theme">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.last_month }}</div>
                        <div>My Sales Last Month</div>
                    </div>
                </div>
            </div>
            <!-- code below, maybe used later -->
            <!--<a ui-sref="list({entity:'Channels'})">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">View Details</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        </div>
    </div>
    <!--My Sales Last Month-->

    <!--My Sales This Year-->
    <div class="col-lg-3">
        <div class="panel panel-default theme">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.this_year }}</div>
                        <div>My Sales This Year</div>
                    </div>
                </div>
            </div>
            <!-- code below, maybe used later -->
            <!--<a ui-sref="list({entity:'Vods'})">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">View Details</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        </div>
    </div>
    <!--My Sales This Year-->

    <!--My Sales Last Year-->
    <div class="col-lg-3">
        <div class="panel panel-default theme">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.last_year }}</div>
                        <div>My Sales Last Year</div>
                    </div>
                </div>
            </div>
            <!-- code below, maybe used later -->
            <!--<a ui-sref="list({entity:'Devices'})">-->
                <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">View Details</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</a>-->
        </div>
    </div>
    <!--My Sales Last Year-->

</div><!--row-->
