<div class="row">
  <div class="col-lg-12">
    <uib-alert type="info" close="dismissAlert()" ng-show="!has_seen_alert">
      <span ng-app="myApp" ng-controller="envVariablesCtrl">Welcome to {{company_name}} </span>
    </uib-alert>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default theme">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-user fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.logindata | number:0 }}</div>
            <div>Login Accounts</div>
          </div>
        </div>
      </div>
      <a ui-sref="list({entity:'LoginData'})">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default theme">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tv fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.channels }}</div>
            <div>Channels</div>
          </div>
        </div>
      </div>
      <a ui-sref="list({entity:'Channels'})">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default theme">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-film fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.vods }}</div>
            <div>VOD Movies</div>
          </div>
        </div>
      </div>
      <a ui-sref="list({entity:'Vods'})">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel default theme">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-outdent fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.devices }}</div>
            <div>Devices</div>
          </div>
        </div>
      </div>
      <a ui-sref="list({entity:'Devices'})">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
