<!DOCTYPE html>
<html ng-app="myApp" ng-controller="envVariablesCtrl">
    <head>
        <meta charset="utf-8">
        <title>{{company_name}}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="build/ng-admin.min.css">
        <link rel="stylesheet" href="build/main.css"/>
        <link rel="stylesheet" href="css/custom.css"/>

        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="build/vis.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <script src="build/vis.min.js"></script>

        <script src="build/ng-admin.min.js" type="text/javascript"></script>
        <script src="build/main.js" type="text/javascript"></script>
        <script src="build/ng-admin.jwt-auth.js" type="text/javascript"></script>


        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.15.2/angular-translate.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-cookie/2.15.2/angular-translate-storage-cookie.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-local/2.15.2/angular-translate-storage-local.js"></script>

        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-static-files/2.15.2/angular-translate-loader-static-files.js"></script>

        <script src="build/angular-vis.js"></script>

        <script src='js/drag_drop_package/angular-drag-and-drop-lists.js'></script>


    </head>

    <body ng-app="myApp" ng-controller="main">
        <div ui-view></div>

        <script type="text/javascript">

            function logout() {
                window.localStorage.removeItem('userName');
                window.location.href = ".#/logout";
            }

            function Role() {

                var role = localStorage.getItem('userRole');
                return role;
            }

        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-79012733-4', 'auto');
            ga('send', 'pageview');
        </script>

      </body>
    <div class="se-pre-con"></div>
<script>
    //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>
</html>